{% set insertPositions = [
    [3,1],[5,1],[7,1],
    [1,3],                  [9,3],
    [1,5],                  [9,5],
    [1,7],                  [9,7],
    [3,9],[5,9],[7,9],
] %}

<div class="board-grid remainingPathCard">

    {% for position in insertPositions %}
        <a class="tile-grid empty"
           style="grid-column: {{ position[0] }} ; grid-row: {{ position[1] }}"
           href="{{ path('insertRemainingPathCard', {'x': position[0], 'y': position[1]}) }}"
        >
        </a>
    {% endfor %}

    {% set position = fromBoardReferentialToDisplay([remainingPathCard.x,remainingPathCard.y]) %}
    {% set degrees = remainingPathCard.direction * 90 %}

    <a class="tile-grid remainingPathCard"
       style="grid-column: {{ position[0] }} ; grid-row: {{ position[1] }}; transform: rotate({{ degrees }}deg)"
       href="{{ path('rotateRemainingPathCard') }}"
    >
        {% include 'tile.html.twig' with {
            'tile' : remainingPathCard
        } only %}
    </a>
</div>
